@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.backgroundblack {
    background-color: teal;}

.container{
    margin-top: 100px;
}
#Welcome {
    color: white;
    font-family: 'times', Courier, monospace;
    font-size: 50px;
    margin-left: 200px;

}
.navbar {
    justify-content: flex-end;
    font-size:xx-large;
    
}

.nav-link{
    color: white;

}
.link{
    
    font-family: 'times', Courier, monospace;
    font-size: 100px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: bisque;
}
.linkwork{
    font-family: 'times', Courier, monospace;
    font-size: 100px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: bisque;
}
.link:hover{
    color: white;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-bottom: 6px solid black;
    font-weight: bold;
}
.linkwork:hover{
    color: white;
    background-color: gray;
    padding: 10px 10px 10px 10px;
    border-bottom: 6px solid black;
}
.secoundbackimage{
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    background-image:url("../images/image/photo-1467232004584-a241de8bcf5d.jpeg");
    

}

.backimage{
    height: 100%;
    width: 100%;
    background-image:url("../images/image/IMG_8689_edited.jpg");
    background-size: 100%;
    background-attachment: fixed;
}



